.App {
  text-align: center;
  width:100%;  
  height:100%;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.crossWord{
  width: 50%;
  height:50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cover {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.cover > img {
  float: left;
  border: 2px solid black;
  width: 45%;
  margin: 1.66%;
}
